@import url('https://fonts.googleapis.com/css?family=Gudea');

.main-container-home {
    margin-left: 250px;
    text-align: center;
    position: relative;
    top: 80px;
}

.title-form {
    font-family: 'Gudea', sans-serif;
}

/* Cellphone */
@media (min-width: 320px) and (max-width: 480px) {
    .main-container-home {
        margin-left: 0px;
    }
}
/* Tablet */
 @media (min-width: 481px) and (max-width: 1024px) {
    .main-container-home {
        margin-left: 0px;
    }
}