@import url('https://fonts.googleapis.com/css?family=Gudea');

.main-container-home {
    margin-left: 250px;
    text-align: center;
    position: relative;
    top: 80px;
}

.title-form {
    font-family: 'Gudea', sans-serif;
}   