ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 0px;
    overflow: hidden;
    background-color: #FDFDFD;
    border-bottom: 6px solid #0C86AE;
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* li {
    float: right;
    margin: 8px;
} */
  
ul a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;

    float: right;
    margin: 8px;
}
  
li a:hover {
    color: rgba(252, 252, 252, 1);;
    background-color: rgba(0, 0, 0, 0.6);
}

#navItem {
    display: none;
}

/* Cellphone */
/* @media (min-width: 320px) and (max-width: 480px) {
    #navItem {
        display: block;
    }

    ul a {
        display: none;
    }
    
    ul a.icon {
        float: right;
        display: block;
    }
} */

/* Cellphone */
@media (min-width: 320px) and (max-width: 480px) {
    ul.responsive {
      position: relative;
    }
    ul.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul.responsive #navItem {
      float: none;
      display: block;
      text-align: center;
    }
  }

  /* Cellphone */
  @media (min-width: 320px) and (max-width: 480px) {
    ul #navItem {
      display: none;
    }
    ul #navItem.icon {
      float: right;
      display: block;
      transition: background-color 0.3s, color 0.3s;
    }

    ul #navItem.icon:hover {
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
    }
  }
  
/* Tablet */
 @media (min-width: 481px) and (max-width: 1024px) {
  ul #navItem {
    display: none;
  }

  ul #navItem.icon {
    float: right;
    display: block;
    transition: background-color 0.3s, color 0.3s;
  }

  ul #navItem.icon:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
  }

  ul span {
    display: none;
  }
}