.input-form {
    width: 100%;
    padding: 15px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-password-change {
    padding: 30px 30px;
    margin: 0 auto;
    width: 35%;
}

.input-button {
    padding: 14px;
    background-color: #055873;
    color: #fff;
    margin: 10px auto;
    width: 110px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    border: none;
}

.input-button:hover {
    box-shadow: 2px 4px 2px #878787;
}

.alignButton {
    text-align: center;
}

/* Cellphone */
@media (min-width: 320px) and (max-width: 480px) {
    .form-password-change {
        width: 50%;
    }
}
/* Tablet */
 @media (min-width: 481px) and (max-width: 1024px) {
    .form-password-change {
        width: 50%;
    }
}