.input-form {
    width: 100%;
    padding: 15px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-password-forget {
    text-align: center;
    padding: 30px 30px;
    margin: 0 auto;
    width: 35%;
}

.input-button {
    padding: 14px;
    background-color: #055873;
    color: #fff;
    margin: 10px auto;
    width: 110px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    border: none;
}

.input-button:hover {
    box-shadow: 2px 4px 2px #878787;
}