#sign-out-button {
    float: right;
    margin: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    font: inherit;
    cursor: pointer;
    padding: 9px;
    transition: background-color 0.3s, color 0.3s;
}
  
#sign-out-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

/* Cellphone */
@media (min-width: 320px) and (max-width: 480px) {
    #sign-out-button {
        display: none;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    #sign-out-button {
        padding-top: 14px;
    }
}