#sign-out-button {
    float: right;
    margin: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
     font: inherit;
     cursor: pointer;
     padding-top: 14px;
}
  
#sign-out-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Cellphone */
@media (min-width: 320px) and (max-width: 480px) {
    #sign-out-button {
        display: none;
    }
}